$swiperContainerClass: 'swiper-container';
$swiperModifierClass: $swiperContainerClass;
$swiperWrapperClass: 'swiper-wrapper';
$swiperSlideClass: 'swiper-slide';
$swiperNotificationClass: 'swiper-notification';

// Arrows
$swiperButtonClass: 'swiper-button';
$swiperButtonModifierClass: $swiperButtonClass;
$swiperButtonPrevClass: 'swiper-button-prev';
$swiperButtonNextClass: 'swiper-button-next';
$swiperButtonDisabledClass: "#{$swiperButtonModifierClass}-disabled";

// Pagination
$swiperPaginationClass: 'swiper-pagination';
$swiperPaginationModifierClass: $swiperPaginationClass;
$swiperPaginationHiddenClass: #{$swiperPaginationModifierClass}-hidden;
$swiperPaginationCurrentClass: #{$swiperPaginationModifierClass}-current;
$swiperPaginationProgressbarClass: #{$swiperPaginationModifierClass}-progressbar;
$swiperPaginationClickableClass: #{$swiperPaginationModifierClass}-clickable;
$swiperBulletClass: #{$swiperPaginationModifierClass}-bullet;
$swiperBulletActiveClass: #{$swiperPaginationModifierClass}-bullet-active;

// Preloader
$swiperPreloaderClass: 'preloader';
$swiperLazyPreloaderClass: 'swiper-lazy-preloader';
$swiperLazyPreloaderModifierClass: $swiperLazyPreloaderClass;

// Scrollbar
$swiperScrollbarClass: 'swiper-scrollbar';
$swiperScrollbarModifierClass: $swiperScrollbarClass;

// Zoom
$swiperZoomContainerClass: 'swiper-zoom-container';

@import "core";
@import "navigation";
@import "zoom";
@import "scrollbar";
// @import "preloader";